.item-a { grid-area: header; background-color: #00b0FF; color: white;font-family: "Lucida Console", "Courier New", monospace;}
.item-b { grid-area: button;
		  display: flex;
		  flex-direction: row;	
		  }
.item-c { grid-area: content;
		  display: flex;
          flex-direction: row;	
	      flex-wrap:wrap;
		  height : 50%;
		  
	      }
.item-d { grid-area: content2;
		  display: flex;
          flex-direction: row;
		  border: 3px solid #0090FF;	
		  width : 500px;		  
	      }
.item-e { grid-area: footer; background-color: #00b0FF;color: white;font-family: "Lucida Console", "Courier New", monospace;}





.container {
height: 100%;
width: 100%;
display: grid;
grid-template-columns: auto;
grid-template-rows: 10% 10% 70% 10%;
grid-template-areas:
"header"
"button"
"content"
"footer";
}

.button {
  background-color: #00b0FF;
  border: none;
  color: white;
  padding: 0;
  text-align: center;  
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  width : 50%;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
    display: block;
    margin: 0px;
}


button:hover {
  background-color: #0090FF;
}

.flex {   display: flex;
          flex-direction: column;
		  	
	      }
